/* 保持 body 和 html 的默认样式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 设置主容器样式 */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); 
    background-color: #f8f9fa;
    padding-top: 0px; 
}

.mint {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 50px;
    resize: none;
}

.input-imageFile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-imageFile button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-right: 10px;
}

.input-imageFile button:hover {
    background-color: #0056b3;
}

.input-imageFile span {
    font-size: 14px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
}

.cancel-button:hover {
    background-color: #c82333;
}

.submit-button {
    background-color: #28a745;
    color: white;
}

.submit-button:hover {
    background-color: #218838;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.file-name {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: pre-line;
}
