#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: pink;
}
.main{
  width: 600px;
}
.flex{
  display: flex;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.todo-input{
  margin-right: 20px;
}
.check-word{
  width: calc(100% - 40px)
}

