body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

input,
button {
  padding: 10px;
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
}
