[submodule "members/coolberwin/task3/nftMarket/lib/forge-std"]
	path = members/coolberwin/task3/nftMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "members/coolberwin/task3/nftMarket/lib/openzeppelin-contracts"]
	path = members/coolberwin/task3/nftMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
