.toast-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(211, 211, 211, 0.6);

  .toast-form-wrap {
    width: 370px;
    height: 100px;
    border-radius: 6px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;

    .toast-form-title {
      font-size: 20px;
      font-weight: 800;
    }

    .toast-form-input-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      margin-top: 10px;

      .toast-form-input {
        background-color: #fff;
        height: 25px;
        border-radius: 3px;
        color: #333;
        border: 1px solid #333;
      }

      .toast-form-input-btn {
        border-radius: 6px;
        text-align: center;
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        padding: 0 18px;
        background-color: rgb(68, 77, 240);
        font-weight: 700;
        cursor: pointer;
      }
    }

    .toast-form-close {
      position: absolute;
      right: 15px;
      top: 5px;
      font-weight: 900;
      cursor: pointer;
    }
  }
}
