:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 90vh;
}

#root {
  margin: 0 auto;
}

header {
  font-size: 2.2em;
  line-height: 1.1;
  display: flex;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1.1em;
  font-family: inherit;
  transition: border-color 0.25s;
}

form input[type="text"] {
  font-size: 1.6em;
  font-weight: 500;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

li label {
  margin-right: auto;
  display: flex;
  align-items: center;
}


label input[type="checkbox"] {
  display: none;
}

label p {
  display: inline-block;
}


input[type="checkbox"]:checked + p {
  text-decoration: line-through;
  transition: text-decoration 0.5s;
}

li button:first-child {
  margin-left: auto;
}

li::after {
  content: '';
  border-bottom: 10px solid #fff;
}
/* button style */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
