:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.App {
  position: relative;
}

.header h1 {
  font-size: 30px;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
}

.todoList {
  margin-top: 20px;
}

.addTaskBtn > button {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.todoList ul {
  padding: 0px;
  margin: 0px;

}

.todoList ul li {
  padding: 10px 20px;
  background-color: #213547;
  list-style-type: none;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.todoList ul li input[type="checkbox"] {
  padding: 0px;
  margin: 0px;
}

.todoList ul li label {
  width: calc(100% - 20px - 30px);
}

.todoList ul li label.checked {
  text-decoration: line-through;
}

.todoList ul li .delete {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: none;
  font-size: 10px;
  line-height: 10px;
}

.popupContainer {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.popupContainerInner {
  display: table;
  width: calc(100% - 40px);
  height: calc(100% - 100px);
  padding: 50px 20px;
  max-width: 300px;
  margin: auto;
}

.popupContent {
  display: table-cell;
  vertical-align: middle;
}

.popupPanel {
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.popupPanel > button:first-child {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-radius: 100%;
  color: #fff;
  position: absolute;
  right: -15px;
  top: -15px;
  border: 3px solid #000;
  cursor: pointer;
}

.popupContentInner input[type="text"],
.popupContentInner input[type="number"] {
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: calc(100% - 20px);
  border-radius: 5px;
  margin-bottom: 10px;
}

.popupPanel > button:last-child {
  background-color: #535bf2;
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  margin-left: auto;
  border: none;
  display: block;
  
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
