@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  font-family: poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --bg: #120722;
  --text: #fff;
  --border-color: #200648;
  --border-hover: #430c94;
  --btn-color: #b486f8;
  --shadow1: #160122;
  --shadow2: #0c0015;
}

body {
  margin: 0;
  display: flex;
  background-color: var(--bg);
  color: var(--text);
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 480px) {
  #root {
    padding-top: 0;
  }
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 480px) {
    gap: 2rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #170137;
}
::-webkit-scrollbar-thumb {
  background: #49149a;
  border-radius: 7px;
}

::selection {
  color: var(--btn-color);
  background: #000;
}
