/* src/App.css */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 使容器高度为视口高度 */
    width: 100vh;
    background-color: #f0f0f0; /* 可选：背景颜色 */
  }
  
  .app-content {
    background: white; /* 可选：内容背景颜色 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  