@tailwind base;
@tailwind components;
@tailwind utilities;

#pet3-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
}

#pet3-handler {
  --pet3-handler-x: 0px;
  --pet3-handler-y: 0px;
  --pet3-rotate: 0rad;
  height: 80px;
  width: 60px;
  background: transparent;
  position: absolute;
  z-index: 10000;
}
