.ListContainer {
  flex: 1;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 8px;
  background: white;
  width: 300px;
  margin: 0 10px 10px;
  color: #606060;
  height: 400px;
}
.header {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbQVaIhkSuOxnbmCY29cUnTwwuRYVdkHCU8Q&s");
  width: 210px;
  height: 200px;
  border-radius: 8px;
  background-repeat: round;
}
.price {
  line-height: 24px;
  height: 24px;
  margin-top: 8px;
}
.info-active,
.info-inactive,
.info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
}
.info-active {
  color: #007aff;
}
.info-inactive {
  color: #999;
}
.infoContainer {
  width: 100%;
  padding: 0 10px;
}
.empty {
  width: 100%;
  text-align: center;
  height: 300px;
  color: #606060;
}
