.addTodo{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}
.addInput{
    flex: 1;
}
.addBtn {
    padding: 9px 20px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}