.card {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}
.cardOverflow {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}