.item {
    border: 1px solid #1e80ff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;

    display: flex;
    justify-content: space-between;
}

.delBtn {
    color: #1e80ff;
}

.delBtn:hover {
    cursor: pointer;
}