.todoitem {
    padding: 5px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}
.todoitem-text {
    flex: 1;
    margin-right: 10px;
    white-space: wrap;
    word-break: break-all;
}
.todoitem button {
    padding: 5px;
    color: #fff;
    background: #000;
}