node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

/ignition

/public

/test

/scripts

hardhat.config.ts

package.json

package-lock.json

tsconfig.json

../task4/

