* {
  box-sizing: border-box;
}

:root,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 4px;
  border: 1px solid #666;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 460px;
  margin: 0 auto;
  overflow: hidden;
}

.App-body,
.ToDoList {
  display: flex;
  flex-direction: column;
}

.App-body {
  height: 500px;
  border: 5px solid #000;
}

.AddToDo,
.AddToDo button,
.ToDoItem-button,
.ToDoList-footer {
  flex-shrink: 0;
}

.AddToDo,
.ToDoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AddToDo {
  padding: 16px 20px;
  border-bottom: 3px solid #000;
}

.AddToDo input,
.ToDoItem-text {
  margin-right: 8px;
}

.AddToDo input,
.ToDoItem-text,
.ToDoList,
.ToDoList-body {
  flex-grow: 1;
}

.ToDoList-body {
  list-style: none inside none;
  height: 0;
  margin: 0;
  padding: 0 16px;
  overflow: auto;
}

.ToDoList-footer {
  margin: 0;
  padding: 12px 20px;
  text-align: right;
  border-top: 3px solid #000;
}

.ToDoList.is-empty {
  align-items: center;
  justify-content: center;
}

.ToDoList-empty {
  margin: 0;
  font-size: 16px;
}

.ToDoItem {
  padding: 12px 4px;
}

.ToDoItem button {
  background-color: orangered;
  color: #fff;
}

.ToDoItem:hover {
  cursor: pointer;
}

.ToDoItem.is-done {
  background-color: #eee;
}

.ToDoItem.is-done .ToDoItem-text {
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}

.ToDoItem + .ToDoItem {
  border-top: 1px dashed #000;
}