#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  width: 500px;
  border: 1px solid #ccc;
  min-height: 600px;
}

.title {
  font-size: 26px;
}

.add-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.add-form .btn-add {
  padding: 5px;
  background-color: #64CAFF;
  color: #fff;
  font-size: 12px;
  width: 50px;
}

.add-form .input {
  padding: 10px;
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.todo-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item .checkbox {
  margin: 0;
}

.todo-item .content {
  display: flex;
  flex: 1;
  font-size: 14px;
  word-break: break-word;
  text-align: left;
  padding: 0 10px;
}

.todo-item .content.completed {
  text-decoration: line-through
}

.todo-item .btn-delete {
  padding: 5px;
  width: 50px;
  background-color: #FC5531;
  color: #fff;
  font-size: 12px;
}