#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 新增样式 */
.add-event {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.add-todo-btn {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.add-todo-btn:hover {
  background-color: #f0f0f0;
}
.todo-item {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.item-content {
  flex: 1;
  display: flex;
  justify-self: flex-start;
}
.item-content:hover {
  background-color: #f0f0f0;
}
.item-del {
  border: 1px solid #ccc;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.item-del:hover {
  background-color: #f0f0f0;
}
