#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-top: 100px;
}

/* 新增样式 */
.todo-container {
  border: 1px solid #ccc;
  padding: 20px 30px;
  border-radius: 5px;
}
.add-event {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.add-event input {
  flex: 1;
  padding: 5px 8px;
  font-size: 18px;
}
.add-event button {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.add-event button:hover {
  background-color: #f0f0f0;
}
.todo-list {
  margin-top: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}
.add-todo-btn {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.add-todo-btn:hover {
  background-color: #f0f0f0;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.item-content {
  display: flex;
  justify-self: flex-start;
  flex-wrap: wrap;
  width: 300px;
  overflow-wrap: anywhere;
}
.item-content:hover {
  background-color: #f0f0f0;
  border: solid 1px #ccc;
  padding: 2px 6px;
  border-radius: 5px;
}
.item-del {
  border: 1px solid #ccc;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.item-del:hover {
  background-color: #f0f0f0;
}
