#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task1Header{
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
}
.addToDoBody{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}
.addToDoBodyButton{
  margin-left: 24px;
}
.toDoBody{
  display: flex;
  justify-content: center;
  margin-top: 24px;
  .toDoBodyItem{
    width: 300px;
    padding: 0 24px;
    flex-shrink: 0;
    flex-grow: 0;
    &:first-child{
      margin-right: 24px;
    }
    .toDoBodyTitle{
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      border-bottom: 1px solid #ccc;
      padding-bottom: 12px;
    }
  }
}
.toDoItemWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toDoItemThing{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
  text-overflow: ellipsis;
}