.addBox {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.addInput {
    border: 1px solid #1e80ff;
    border-radius: 5px;
}

.addBtn {
    background-color: #1e80ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 10px;
}

.addBtn:hover {
    background-color: #1171ee;
}