body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom: none;
}

li:last-child {
  border-bottom: 1px solid #ccc;
}

li span {
  cursor: pointer;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
