.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}
