.create-form-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;

  .create-form-input-wrap {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

    input[type='text'],
    input[type='number'] {
      background-color: #fff;
      height: 20px;
      border-radius: 3px;
      color: #333;
    }

    input[type='file'] {
      border: 1px solid gray;
      border-radius: 3px;
      width: 145px;
      cursor: pointer;
    }

    .create-nft-img {
      width: 200px;
      height: 200px;
    }

    .nft-action-btn {
      width: 100px;
      height: 30px;
      border-radius: 6px;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
      color: #fff;
      background-color: rgb(68, 77, 240);
      cursor: pointer;
    }
  }
}
